<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <H1>Login</H1>
    
    <P>Please enter your username and password:</P>
    <form action="{{page}}" method="post">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username" value=""><br>
      <label for="password">Password:</label><br>
      <input type="text" id="password" name="password" value=""><br><br>
      <input type="submit" value="Submit">
    </form>     
</body>
</html>
